body {
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
  background-position: center center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;

}



.background-form {
  background-color: #1B4242;
  color: white;
}

.background-nav {
  background-color: #5C8374;
  color: black;
}

