body {
  background-image: url("https://coolbackgrounds.io/images/backgrounds/index/ranger-4df6c1b6.png");
  background-repeat: no-repeat;
  background-position: inherit;
  background-size:cover;
  background-color: #9EC8B9;

}



.background-form {
  background-color: #1B4242;
  color: white;
}

.background-nav {
  background-color: #5C8374;
  color: black;
}




.bg-img {

}